<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="k.css">
    <title>{% block titulo %} meu sistema {% endblock %}</title>
          {% block conteudo %} {% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="k.css">Navbar</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">essa é a base</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="professores.html">professores</a></li>
            <li><a class="dropdown-item" href="contato.html">contato</a></li>
            <li><a class="dropdown-item" href="cursos.html">cursos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">


            </div>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>
            2026 - todos os direitos reservados
        </p>
        <p>
            desenvolvido com flask + templates
        </p>

    </footer>
</body>

</html>