{% extends "base.html" %}

{% block titulo %}
Pagina inicial
{% endblock %}

{% block conteudo %}
       <nav>
        <div>
        <div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="professores.html">professores</a></li>
            <li><a class="dropdown-item" href="contato.html">contato</a></li>
            <li><a class="dropdown-item" href="cursos.html">cursos</a></li>
          </ul>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>